################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/idsv4.server/Examination.Identity/bin
/idsv4.server/Examination.Identity/obj
/idsv4.server/.vs