################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/idsv4.server/Examination.Identity/bin/Debug/net5.0
